# The XGBoost 1 feature regression

## Imports

### Py Imports

In [5]:
import pandas as pd
import numpy as np
import xgboost
import matplotlib.pyplot as plt
import seaborn as sbn
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler

### Datasets import

In [8]:
train = pd.read_csv('./sources/clean_train.csv')
test = pd.read_csv('./sources/clean_test.csv')

In [9]:
train.head(10)

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,8450,7,5,2003,2003,706.0,0.0,150.0,...,0,0,0,1,0,0,0,0,1,0
1,2,20,9600,6,8,1976,1976,978.0,0.0,284.0,...,0,0,0,1,0,0,0,0,1,0
2,3,60,11250,7,5,2001,2002,486.0,0.0,434.0,...,0,0,0,1,0,0,0,0,1,0
3,4,70,9550,7,5,1915,1970,216.0,0.0,540.0,...,0,0,0,1,1,0,0,0,0,0
4,5,60,14260,8,5,2000,2000,655.0,0.0,490.0,...,0,0,0,1,0,0,0,0,1,0
5,6,50,14115,5,5,1993,1995,732.0,0.0,64.0,...,0,0,0,1,0,0,0,0,1,0
6,7,20,10084,8,5,2004,2005,1369.0,0.0,317.0,...,0,0,0,1,0,0,0,0,1,0
7,8,60,10382,7,6,1973,1973,859.0,32.0,216.0,...,0,0,0,1,0,0,0,0,1,0
8,9,50,6120,7,5,1931,1950,0.0,0.0,952.0,...,0,0,0,1,1,0,0,0,0,0
9,10,190,7420,5,6,1939,1950,851.0,0.0,140.0,...,0,0,0,1,0,0,0,0,1,0